header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #D79A39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  
}
 
header h2 {
  display: none;
}

.name h2 {
  display: block;
  margin: 0;
}


