  
.new-tweet h2 {
  display: flex;
  justify-content: center;
  
}

.label {
 
}

hr {
  height: 2px;
  background-color: #545149;
}

.tweet-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  color: #545149;
}

.tweet-info button {
  background-color: #4152A1;
  color: #FFFFFF;
  border-radius: 5px;
}

#tweet-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}